@page "/pages/form/{id:long?}"
@model FormHandlerModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore

@{ 
    async Task Template(string label, ModelExpression expr)
    {
        <div class="form-group">

            <label>@label</label>

            <input class="form-control" asp-for="@expr.Model" />

        </div>
    }
}

<div class="m-2">
    <h5 class="bg-primary text-white text-center p-2">HTML Form</h5>
    <form asp-page="FormHandler" method="post" id="htmlform">

        @{ 
            await Template("Name",     Model.CreateModelExpression("Product.Name"));
            await Template("Price",    Model.CreateModelExpression("Product.Price"));
            await Template("Category", Model.CreateModelExpression("Product.Category.Name"));
            await Template("Supplier", Model.CreateModelExpression("Product.Supplier.Name"));
        }

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button form="htmlform" asp-page="FormHandler" class="btn btn-primary mt-2">
        Sumit (Outside Form)
    </button>
</div>
